<!DOCTYPE html>
<html>
<head>
  <title>Welcome to DoJewelry.shop</title>
  <style type="text/css">
    body {
      font-family: Arial, sans-serif;
      background-color: #F4F4F2;
      margin: 0;
      padding: 0;
      border: 1px solid #bdbdbd;
      border-radius: 8px;
    }
    body, p, span, h2 {
        color: #161412;
    }
    .container {
      max-width: 600px;
      margin: 20px auto;
      background: #FFF;
    }
    .header {
      background-color: #F4F4F2;
      padding: 32px 10px;
      text-align: center;
    }
    .content {
      padding: 40px 32px;
      text-align: center;
    }
    .footer {
      background-color: #F4F4F2;
      padding: 32px 10px;
      text-align: center;
      font-size: 13px;
    }
    .button {
      background-color: #000;
      color: #fff !important;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 4px;
      display: inline-block;
      margin: 20px 0;
    }
    .button:hover{
        background-color: #272727;
        color: #fff;
    }
    img.logo {
      display: block;
      margin: auto;
      width: 90px;
    }
    a, a:visited, a:hover, a:active {
      text-decoration: none;
      color: inherit;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="https://dojewerlyserver-production.up.railway.app/uploads/logo-text.png" alt="DoJewelry" class="logo"/>
    </div>
    <div class="content">
      <h2>Dear {{username}},</h2>
      <p>Thank you for registering at DoJewelry.shop. We're excited to have you on board!</p>
      <p>To activate your account please click the button below:</p>
      <a href="{{activationLink}}" class="button">Activate Account</a>
      <p>If you did not sign up for this account, you can ignore this email and the account will not be activated.</p>
      <p>Regards,<br>The DoJewelry Team</p>
    </div>
    <div class="footer">
      <span>Sent with ♥ from DoJewelry.shop</span><br>
      <span>Getting too many emails?</span> <a href="{{unsubscribeLink}}">Unsubscribe</a>
    </div>
  </div>
</body>
</html>
